<div class="container border py-3 my-3">
    <div class="card">
        <h4 class="card-header">Login</h4>
        <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="userName">Username</label>
                    <div class="input-group h-100 col-sm-7 mb-0">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </span>
                        </div>
                        <input type="text" formControlName="userName" class="form-control"
                            id="userName" name="userName"
                            [ngClass]="{ 'is-invalid': submitted && f.userName.errors }" maxlength="10"/>
                        <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
                            <span *ngIf="f.userName.errors.required">Username is required</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <div class="input-group h-100 col-sm-7 mb-0">
                        <input [type]="fieldTextType ? 'text' : 'password'" class="form-control" id="password"
                            name="password" formControlName="password"
                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div id="pwdShowHide" class="input-group-append" (click)="toggleFieldTextType()">
                            <span class="input-group-text">
                                <i [ngClass]="!fieldTextType ? 'fa fa-eye-slash': 'fa fa-eye'"
                                    aria-hidden="true"></i>
                            </span>
                        </div>
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <span *ngIf="f.password.errors.required">Password is required</span>
                            <span *ngIf="f.password.errors.minlength">Password must be at least 6 characters</span>
                        </div>
                    </div>
                </div>
                <div class="form-group mt-2">
                    <button type="submit" [disabled]="loading" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Login
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<br/><br/>
<div class="container border py-3 my-3">
    <div class="card">
        <h4 class="card-header">Below are the valid username and password for login</h4>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="UserName">User Name</th>
                        <th scope="Password">Password</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of registeredUserList">
                        <td>{{ user.userName }}</td>
                        <td>{{ user.password }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
