body{
    background-color: #f4f7f6;
    margin-top:20px;
}
.card {
    background: #fff;
    transition: .5s;
    border: 0;
    margin-bottom: 30px;
    border-radius: .55rem;
    position: relative;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}

.chat-app .chat {
    margin-left: 280px;
    border-left: 1px solid #eaeaea
}
.chat .chat-header {
    padding: 15px 20px;
    border-bottom: 2px solid #f4f7f6
}
.chat .chat-history {
    padding: 20px;
    border-bottom: 2px solid #fff
}
.chat .chat-message {
    padding: 20px
}



